<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Login.mapper.SessionMapper">

    <!-- Define ResultMap for Type User -->
    <resultMap id="sessionRM" type="com.example.Login.entity.Session">
        <id property="email" javaType="String" column="EMAIL"/>
        <result property="token" javaType="String" column="TOKEN"/>
    </resultMap>

    <!-- SELECT STATEMENT -->
    <select id="findByEmail" parameterType="String" resultType="com.example.Login.entity.Session">
        SELECT * FROM SESSIONS WHERE EMAIL = #{email}
    </select>
    <select id="findByToken" parameterType="String" resultType="com.example.Login.entity.Session">
        SELECT * FROM SESSIONS WHERE TOKEN = #{token}
    </select>
    <select id="findAll" resultMap="sessionRM">
        SELECT * FROM SESSIONS
    </select>

    <!-- INSERT STATEMENT -->
    <insert id="save" parameterType="com.example.Login.entity.Session">
        INSERT INTO SESSIONS (EMAIL, TOKEN ) VALUES (#{email}, #{token})
    </insert>

    <!-- DELETE STATEMENT -->
    <!-- UPDATE STATEMENT -->
</mapper>